<div class="section">
    <label [for]="name">{{ label }}</label>
</div>
<div class="section">
    <input 
        #input="ngModel"
        type="text" 
        [id]="name"
        class="input"
        [ngClass]="{'error-input': ((errorMessage$ | async) && (input.dirty || input.touched)) || externalError}" 
        [placeholder]="placeholder" 
        [ngModel]="value"
        [maxlength]="maxLength"
        (ngModelChange)="valueChange.emit($event)"
    >
    <div
        *ngIf="(errorMessage$ | async) && (input.dirty || input.touched)"
        class="error-message" 
        >{{ (errorMessage$ | async) | translate }}</div>
</div>