<div class="section">
    <label [for]="name">{{ label }}</label>
</div>
<div class="section" *ngIf="!readonly; else readonlyTemplate">
    <input 
        #input="ngModel"
        type="text" 
        [id]="name"
        class="input"
        [ngClass]="{'error-input': ((errorMessage$ | async) && (input.dirty || input.touched)) || externalError}" 
        [placeholder]="placeholder" 
        [ngModel]="value"
        [maxlength]="maxLength"
        (ngModelChange)="valueChange.emit($event)"
        [disabled]="disabled"
    >
    <div
        *ngIf="(errorMessage$ | async) && (input.dirty || input.touched)"
        class="error-message" 
        >{{ (errorMessage$ | async) | translate }}
    </div>
</div>
<ng-template #readonlyTemplate>
    <div class="section">
        <div class="readonly">{{ value }}</div>
    </div>
</ng-template>