<gh-tracking-view 
    [departureDate]="departureDate" 
    [arrivalDate]="arrivalDate"
    [history]="filteredHistory"
    [originCity]="originCity"
    [destinationCity]="destinationCity"
    [layovers]="layovers"
    [orderId]="orderId"
></gh-tracking-view>
<gh-tracking-history [history]="filteredHistory"></gh-tracking-history>
<ng-container *ngIf="gpView">
    <gh-select-field
        [label]="'deliveryExecption.orderList.label' | translate" 
        [placeholder]="'deliveryExecption.orderList.placeholder' | translate"
        [value]="selectedOrderId"
        (valueChange)="selectedOrderId = $event"
        [options]="orderList"
    ></gh-select-field>
    <div class="button-section">
        <button
            *ngIf="!selectedOrderId && displayOnHisWay" 
            [buttonLoading]="onHisWayButtonLoading$ | async"
            class="gp-button" 
            (click)="onHisWayException()"
        >{{ 'deliveryExecption.button.onYourWay' | translate }}</button>
        <button 
            *ngIf="currentPoint?.type === trackingPointType.WITH_GP && !(currentPoint?.exception)"
            [buttonLoading]="lostOrderButtonLoading$ | async"
            class="attention-button" 
            (click)="lostOrderException()">{{ 'deliveryExecption.button.lostOrder' | translate }}</button>
        <button 
            *ngIf="currentPoint?.type === trackingPointType.WITH_GP && !(currentPoint?.exception)"
            [buttonLoading]="damagedOrderButtonLoading$ | async"
            class="attention-button" 
            (click)="damagedOrderException()"
        >{{ 'deliveryExecption.button.damaged' | translate }}</button>
    </div>
</ng-container>