<div class="content">
<div>
<gh-tracking-view 
    [departureDate]="departureDate" 
    [arrivalDate]="arrivalDate"
    [history]="filteredHistory"
    [originCity]="originCity"
    [destinationCity]="destinationCity"
    [layovers]="layovers"
    [orderId]="orderId"
></gh-tracking-view>
<gh-tracking-history [history]="filteredHistory"></gh-tracking-history>
<ng-container *ngIf="gpView">
    <gh-select-field
        [label]="'deliveryExecption.orderList.label' | translate" 
        [placeholder]="'deliveryExecption.orderList.placeholder' | translate"
        [value]="selectedOrderId || '*'"
        (valueChange)="selectedOrderId = $event"
        [options]="orderList"
    ></gh-select-field>
    <div class="button-section">
        <button
            *ngIf="!selectedOrderId && withGpButton && !(currentPoint?.exception)" 
            [buttonLoading]="onHisWayButtonLoading$ | async"
            class="gp-button" 
            (click)="onHisWayException()"
        >{{ 'deliveryExecption.button.onYourWay' | translate }}</button>
        <button
            *ngIf="!selectedOrderId && firstDepartureButton && !(currentPoint?.exception)" 
            [buttonLoading]="firstDepartureButtonLoading$ | async"
            class="gp-button" 
            (click)="firstDepartureException()"
        >{{ 'deliveryExecption.button.firstDeparture' | translate }}</button>
        <button
            *ngIf="!selectedOrderId && (withGpButton || onWayAirportButton) && !(currentPoint?.exception)" 
            [buttonLoading]="cancelTripButtonLoading$ | async"
            class="attention-button" 
            (click)="cancelTripException()"
        >{{ 'deliveryExecption.button.cancelTrip' | translate }}</button>
        <button
            *ngIf="!selectedOrderId && (withGpButton || onWayAirportButton) && !(currentPoint?.exception) && clientMode" 
            class="attention-button" 
            (click)="declareDelay.emit()"
        >{{ 'deliveryExecption.button.reportDelay' | translate }}</button>
        <button 
            *ngIf="selectedOrderId && (withGpButton || onWayAirportButton) && !(currentPoint?.exception)"
            [buttonLoading]="lostOrderButtonLoading$ | async"
            class="attention-button" 
            (click)="lostOrderException()">{{ 'deliveryExecption.button.lostOrder' | translate }}</button>
        <button 
            *ngIf="selectedOrderId && (withGpButton || onWayAirportButton) && !(currentPoint?.exception)"
            [buttonLoading]="damagedOrderButtonLoading$ | async"
            class="attention-button" 
            (click)="damagedOrderException()"
        >{{ 'deliveryExecption.button.damaged' | translate }}</button>
    </div>
</ng-container>
</div>
</div>