<gh-table 
        [columns]="columns$ | async" 
        [elements]="history"
        [pageSize]="10"
>
    <ng-template #dateTemplate let-value="value" let-element="element">
        <div [class.error]="element.exception">
            {{ value | date: 'dd/MM/yyyy hh:mm' }}
        </div>
    </ng-template>
    <ng-template #messageTemplate let-value="value" let-element="element">
        <div [class.error]="element.exception">
            <div *ngIf="!element.exception">{{ "tracking.history.message."+ value | translate }}</div>
            <div *ngIf="element.exception">{{ "tracking.history.exception."+ element.exception | translate }}</div>
            <div>{{ "tracking.history.message.location" | translate : {city: element.location, country: getCountry(element.location)} }}</div>
        </div>
    </ng-template>
</gh-table>