<div class="content">
    <div>
        <a
        *ngIf="!(hidePreviousPageButton())" 
        (click)="navigateToPreviousPage()"
        >
            <gh-icon [name]="previousPageIcon"></gh-icon>
        </a>
    </div>
    <div class="gp-hub-font"> 
        <a (click)="redirectToMainPage()">{{ applicationName }}</a>
    </div>
    <div class="language_button">
        <button mat-button [matMenuTriggerFor]="menu.matMenu">{{ "global.language.title" | translate }}</button>
    </div>
</div>

<gh-menu #menu [menuItems]="languagesMenuItems"></gh-menu>