<gh-main [modules]="modules$ | async" [displayBody]="displayBody">
    <div header>
    <div class="header-content">
        <div>
            {{ userFullName$ | async }}
        </div>
        <div>
            <gh-toggle 
                [label]="currentUserTypeTranslationKey$ | async" 
                (valueChange)="switchMode($event)" 
                [value]="toggleValue"></gh-toggle>
        </div>
    </div>
    </div>
    <div body>
        <ng-content></ng-content>
    </div>
</gh-main>
