<div class="section">
    <label [for]="name">{{ label }}</label>
</div>
<div class="section" *ngIf="!readonly; else readonlyTemplate">
    <div class="input-with-icon">
        <gh-text-field 
        [name]="name"
        [placeholder]="placeholder" 
        [value]="dateValue?.toString() || value?.dateString"
        (valueChange)="emitValue($event)"
        [externalError]="!!(errorMessage$ | async)"
        ></gh-text-field>
        <button type="button" class="input-suffix">
            <gh-icon [name]="calendarIcon" (click)="showCalendar()"></gh-icon>
        </button>
    </div>
    <div
        *ngIf="(errorMessage$ | async)"
        class="error-message" 
        >{{ (errorMessage$ | async) | translate }}</div>
</div>

<input 
    #input 
    [ngClass]="{'calendar-close': !(isCalendarOpen$ | async),'calendar-open': (isCalendarOpen$ | async)}"
    type="date" 
    [max]="inputMaxDate"
    [min]="inputMinDate"
    (change)="onDateChange($event)"
>

<ng-template #readonlyTemplate>
    <gh-value [value]="value?.dateString"></gh-value>
</ng-template>