<form [formGroup]="forgotPasswordForm" (ngSubmit)="sendReinitializationLink()">
    <div class="content">
        <div class="max-width">
        <div>
            <gh-title [title]="title"></gh-title>
        </div>
        <div class="title section">
            <h1>{{'global.forgotPassword.title' | translate}}</h1>
        </div>
        <div class="text section">
            <p>
                {{'global.forgotPassword.content' | translate}}
            </p>
        </div>
        <div class="section">
            <gh-text-field
            [label]="'global.credentials.email.label' | translate" 
            [placeholder]="'global.credentials.email.placeholder' | translate"
            [name]="emailField"
            [value]="forgotPasswordForm.get(emailField).value"
            (valueChange)="forgotPasswordForm.get(emailField).setValue($event)"
            [errors]="forgotPasswordForm.get(emailField).errors"
            [errorCaptions]="emailErrorCaptions"
        ></gh-text-field>
        </div>
        <div class="section">
            <button
                [buttonLoading]="loading$ | async" 
                type="submit" 
                class="gp-button" 
                [disabled]="!forgotPasswordForm.valid"
            >{{ 'global.forgotPassword.send' | translate }}</button>
        </div>
    </div>
    </div>
</form>