.title {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.content {
    display: flex;
    justify-content: center;
    padding: 1em;
}

@media (min-width: 768px) {
    gh-table {
        min-width:700px;
    }
}

button {
    width: 100%;
}