@import '../../../../../styles/variables';

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.9em;
    line-height: 1;
    cursor: pointer;
    gh-icon {
        color: $secondary-color;
    }
}