@import '../../../../../styles/variables';

.gp-button {
    width: 100%;
}

.layover {
    border:1px solid #030303;
    padding: 1em;
}

.close-section {
    display: flex;
    justify-content: flex-end;
}

.error-message {
    color: #{$error-color};
    min-height: 2em;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
}