@import '../../../../../styles/variables';

.password-container {
  position: relative;
}
  
.toggle-password {
    position: absolute;
    right: -0.2em;
    top: 50% + 5;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border-width: 0px;
}

.show-requirement {
  font-size:0.8em;
}

ul {
  list-style-type: none;
  margin: 0;
  line-height:1;
}

.error-validation {
  color: #{$error-color};
  &::before {
    content: "\2717";  
  }
}

.success-validation {
  color: #{$success-color};
  &::before {
    content: "\2713";  
  }
}

