<div class="section">
    <label [for]="name">{{ label }}</label>
</div>
<div class="section">
    <div class="password-container">
        <input 
        [type]="hidePassword ? 'password' : 'text'" 
        [id]="name" 
        class="input" 
        [ngClass]="{'error-input': errorMessage}" 
        [placeholder]="placeholder"
        [ngModel]="value"
        [maxlength]="maxLength"
        (ngModelChange)="valueChange.emit($event)"
        >
        <button class="toggle-password" (click)="togglePasswordState()">
            <gh-icon [name]="hidePassword ? passwordVisibility : passwordHidden"></gh-icon>
        </button>
    </div>
    <div class="error-message" [ngClass]="{'hide-input': !errorMessage}" >{{ errorMessage | translate }}</div>
</div>