.password-container {
    position: relative;
  }
  
  .toggle-password {
    position: absolute;
    right: -1em;
    top: 50% + 5;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border-width: 0px;
  }