<div class="section">
    <label [for]="name">{{ label }}</label>
</div>
<div class="section">
    <div class="input-with-icon">
        <input
        #input="ngModel" 
        [type]="hidePassword ? 'password' : 'text'" 
        [id]="name" 
        class="input" 
        [ngClass]="{'error-input': (errorMessage$ | async) && (input.dirty || input.touched)}" 
        [placeholder]="placeholder"
        [ngModel]="value"
        [maxlength]="maxLength"
        (ngModelChange)="valueChange.emit($event)"
        >
        <button type="button" class="input-suffix" (click)="togglePasswordState()">
            <gh-icon [name]="hidePassword ? passwordVisibility : passwordHidden"></gh-icon>
        </button>
    </div>
    <div 
        *ngIf="(errorMessage$ | async) && (input.dirty || input.touched)"
        class="error-message">{{ (errorMessage$ | async) | translate }}
    </div>
    <div *ngIf="showRequirements" class="show-requirement">
        {{ 'global.credentials.password.passwordRequirement.title' | translate }}
        <ul>
            <li [ngClass]="{'error-validation':errors?.[hasNotEightCharacters] && value, 'success-validation': !errors?.[hasNotEightCharacters] && value}">
                {{ 'global.credentials.password.passwordRequirement.length' | translate }}
            </li>
            <li [ngClass]="{'error-validation':errors?.[hasNotLowerCase] && value, 'success-validation': !errors?.[hasNotLowerCase] && value}">
                {{ 'global.credentials.password.passwordRequirement.lowercase' | translate }}
            </li>
            <li [ngClass]="{'error-validation':errors?.[hasNotUpperCase] && value, 'success-validation': !errors?.[hasNotUpperCase] && value}">
                {{ 'global.credentials.password.passwordRequirement.uppercase' | translate }}
            </li>
            <li [ngClass]="{'error-validation':errors?.[hasNotNumber] && value, 'success-validation': !errors?.[hasNotNumber] && value}">
                {{ 'global.credentials.password.passwordRequirement.number' | translate }}
            </li>
            <li [ngClass]="{'error-validation':errors?.[hasNotSpecialCharacter] && value, 'success-validation': !errors?.[hasNotSpecialCharacter] && value}">
                {{ 'global.credentials.password.passwordRequirement.special' | translate }}
            </li>
          </ul>
    </div>
</div>