<div class="section">
    <label [for]="name">{{ label }}</label>
</div>
<div class="section">
    <div class="password-container">
        <input
        #input="ngModel" 
        [type]="hidePassword ? 'password' : 'text'" 
        [id]="name" 
        class="input" 
        [ngClass]="{'error-input': (errorMessage$ | async) && (input.dirty || input.touched)}" 
        [placeholder]="placeholder"
        [ngModel]="value"
        [maxlength]="maxLength"
        (ngModelChange)="valueChange.emit($event)"
        >
        <button type="button" class="toggle-password" (click)="togglePasswordState()">
            <gh-icon [name]="hidePassword ? passwordVisibility : passwordHidden"></gh-icon>
        </button>
    </div>
    <div 
        *ngIf="(errorMessage$ | async) && (input.dirty || input.touched)"
        class="error-message">{{ (errorMessage$ | async) | translate }}
    </div>
    <div *ngIf="showRequirements" class="show-requirement">
        {{ 'global.credentials.password.passwordRequirement.title' | translate }}
        <ul>
            <li>{{ 'global.credentials.password.passwordRequirement.length' | translate }}</li>
            <li>{{ 'global.credentials.password.passwordRequirement.lowercase' | translate }}</li>
            <li>{{ 'global.credentials.password.passwordRequirement.uppercase' | translate }}</li>
            <li>{{ 'global.credentials.password.passwordRequirement.number' | translate }}</li>
            <li>{{ 'global.credentials.password.passwordRequirement.special' | translate }}</li>
          </ul>
    </div>
</div>