<form [formGroup]="loginForm" (ngSubmit)="login()">
<div class="content">
    <div>
    <div class="title">
        <gh-title [title]="title"></gh-title>
    </div>
    <div class="input-email input-field">
        <gh-text-field
            [label]="'global.credentials.email.label' | translate" 
            [placeholder]="'global.credentials.email.placeholder' | translate"
            [name]="emailField"
            [value]="loginForm.get(emailField).value"
            (valueChange)="loginForm.get(emailField).setValue($event)"
            [errors]="loginForm.get(emailField).errors"
            [errorCaptions]="emailErrorCaptions"
        ></gh-text-field>
    </div>
    <div class="input-password input-field">
        <gh-password-field
            [label]="'global.credentials.password.label' | translate" 
            [placeholder]="'global.credentials.password.placeholder' | translate"
            [name]="passwordField"
            [value]="loginForm.get(passwordField).value"
            (valueChange)="loginForm.get(passwordField).setValue($event)"
            [errors]="loginForm.get(passwordField).errors"
            [errorCaptions]="passwordErrorCaptions"
        ></gh-password-field>
    </div>
    <div class="forgot">
        <span>{{ 'global.login.forgot' | translate }}</span>
    </div>
    <div class="login">
        <button
            [buttonLoading]="loading$ | async" 
            type="submit" 
            class="gp-button" 
            [disabled]="!loginForm.valid"
        >{{ 'global.login.login' | translate }}</button>
    </div>
    <div *ngIf="canRegister" class="register" (click)="redirectToSignUpUrl()">
        <span>{{ 'global.login.register' | translate }}</span>
    </div>
    </div>
</div>
</form>