@import '../../../../../styles/variables';

.content {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    height: 70%;;
}

.title {
    margin-bottom: 4em;
}

.input-field, .register {
    display: flex;
    justify-content: center;
}

.input-email, .login {
    margin:1em 0;
}

.forgot {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5em;
}

.login {
    button {
        width: 100%;
    }
}