<div class="section label-section">
    <label [for]="name">{{ label }}</label>
    <gh-help *ngIf="tooltip" [tooltip]="tooltip"></gh-help>
</div>
<div class="section" *ngIf="!readonly; else readonlyTemplate">
    <input 
        #input="ngModel"
        type="number" 
        [id]="name"
        class="input"
        [ngClass]="{'error-input': ((errorMessage$ | async) && (input.dirty || input.touched))}" 
        [placeholder]="placeholder" 
        [ngModel]="value"
        (ngModelChange)="valueChange.emit($event)"
        [disabled]="disabled"
        [max]="max"
        [min]="min"
        [step]="step"
    >
    <div
        *ngIf="(errorMessage$ | async) && (input.dirty || input.touched)"
        class="error-message" 
        >{{ (errorMessage$ | async) | translate : { max: max, min: min} }}
    </div>
</div>

<ng-template #readonlyTemplate>
    <gh-value [value]="value.toString()"></gh-value>
</ng-template>