<gh-calendar 
    [month]="months" 
    (monthYearChange)="searchTrips($event)" 
    [elements]="shippingList$ | async" 
    [items]="items" 
    [rates]="rates"
    [loading]="loading$ | async"
    [selectTripCaptions]="{
        title: 'moduleList.client.sendItems.content.calendar.selectTrip.title' | translate,
        departure: 'moduleList.client.sendItems.content.calendar.selectTrip.departure' | translate,
        arrival: 'moduleList.client.sendItems.content.calendar.selectTrip.arrival' | translate,
        total: 'moduleList.client.sendItems.content.calendar.selectTrip.total' | translate,
        select: 'moduleList.client.sendItems.content.calendar.selectTrip.confirmButton' | translate,
        confirm: {
            title: 'moduleList.client.sendItems.content.calendar.selectTrip.confirm.title' | translate,
            content: 'moduleList.client.sendItems.content.calendar.selectTrip.confirm.content' | translate,
            button: 'moduleList.client.sendItems.content.calendar.selectTrip.confirm.button' | translate,
        }
    }"
    [filterTripCaptions]="{
        title: 'moduleList.client.sendItems.content.calendar.filter.title' | translate,
        filterField: {
            label: 'moduleList.client.sendItems.content.calendar.filter.filterField.label' | translate,
            placeholder: 'moduleList.client.sendItems.content.calendar.filter.filterField.placeholder' | translate
        },
        remove: 'moduleList.client.sendItems.content.calendar.filter.remove' | translate,
        button: 'moduleList.client.sendItems.content.calendar.filter.button' | translate
    }"
    [alertTripCaptions]="{
        title: 'moduleList.client.sendItems.content.calendar.alert.title' | translate,
        from: {
                title: 'moduleList.client.sendItems.content.calendar.alert.from.title' | translate,
                errors: {
                    required: 'moduleList.client.sendItems.content.calendar.alert.from.errors.required' | translate,
                    minDate: 'moduleList.client.sendItems.content.calendar.alert.from.errors.minDate' | translate,
                    invalidDate: 'moduleList.client.sendItems.content.calendar.alert.from.errors.invalidDate' | translate,
                    invalidAlertDate: 'moduleList.client.sendItems.content.calendar.alert.from.errors.invalidAlertDate' | translate
                }
        },
        to: {
            title: 'moduleList.client.sendItems.content.calendar.alert.to.title' | translate,
            errors: {
                required: 'moduleList.client.sendItems.content.calendar.alert.to.errors.required' | translate,
                invalidDate: 'moduleList.client.sendItems.content.calendar.alert.to.errors.invalidDate' | translate,
                invalidAlertDate: 'moduleList.client.sendItems.content.calendar.alert.to.errors.invalidAlertDate' | translate
            }
        },
        maxPrice: {
            title: 'moduleList.client.sendItems.content.calendar.alert.maxPrice.title' | translate,
            errors: {
                required: 'moduleList.client.sendItems.content.calendar.alert.maxPrice.errors.required' | translate,
                min: 'moduleList.client.sendItems.content.calendar.alert.maxPrice.errors.min' | translate
            }
        },
        button: 'moduleList.client.sendItems.content.calendar.alert.button' | translate
    }"
></gh-calendar>