.content {
    margin-top: 5em;
}

.title, .footer, .message {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.message {
    text-align: justify;
}

button {
    width: 100%;
    max-width:200px;
}