<gh-console-view [title]="'Filter'" (closed)="close()">
    <div class="content">
        <div>
            <gh-number-field 
                [label]="'Maximum Total Price'"
                [placeholder]="'Enter the maximum total price'"
                [min]="0"
                (valueChange)="filterValue = $event"
            ></gh-number-field>
        </div>
        <div class="button-section">
            <button class="attention-button" (click)="removeFilter()">Remove Filter</button>
            <button class="gp-button" (click)="applyFilter()">Filter</button>
        </div>
    </div>
</gh-console-view>