<gh-console-view [title]="captions.title" (closed)="close()">
    <div class="content">
        <div>
            <gh-number-field 
                [label]="captions.filterField.label"
                [placeholder]="captions.filterField.placeholder"
                [min]="0"
                [step]="currency.step"
                (valueChange)="filterValue = $event"
            ></gh-number-field>
        </div>
        <div class="button-section">
            <button class="attention-button" (click)="removeFilter()">{{ captions.remove }}</button>
            <button class="gp-button" (click)="applyFilter()">{{ captions.button }}</button>
        </div>
    </div>
</gh-console-view>