<div class="title">
    <h1> {{ 'moduleList.gp.trip.confirmedTrip.title' | translate }}</h1>
</div>
<div class="content">
    <div>
        <gh-report-trip 
        [reportTrip]="tripDetail$ |async" 
        [userCountry]="userCountry" 
        [currentFormMode]="formMode.VIEW"></gh-report-trip>

        <div class="section">
            <button class="gp-button" (click)="navigateToTripList()">{{ 'moduleList.gp.trip.plannedTrip.button.back' | translate }}</button>
            <button class="attention-button" (click)="cancelTrip()">{{ 'moduleList.gp.trip.plannedTrip.button.cancel' | translate }}</button>
        </div>
    </div>
</div>