<div class="content">
    <div>
    <div class="section">
        <h1>{{ 'moduleList.client.orders.waitConfirmation.title' | translate }}</h1>
    </div>
    <div class="section">
        <p>{{ 'moduleList.client.orders.waitConfirmation.content' | translate }}</p>
    </div>
    <div class="section">
        <gh-order-details [currency]="userCurrency.currency" [orderDetails]="orderDetail$ | async"></gh-order-details>
    </div>
    <div class="section">
        <button class="gp-button" (click)="navigateToMyOrders()">{{ 'moduleList.client.orders.waitConfirmation.button' | translate }}</button>
        <button class="attention-button">{{ 'moduleList.client.orders.waitConfirmation.cancelButton' | translate }}</button>
    </div>
    </div>
</div>