@import '../../../../../../styles/variables';

.header {
    background-color: lighten($primary-color, 10%);
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    border:1px solid #000;

    .title {
        font-size: 1.5em;
    }

    button {
        background-color: $error-color;
        color: #fff;
        border-radius: 50%;
        border-width: 0em;
        padding:0.30em 0.25em 0em 0.25em;
        cursor: pointer;
        ::ng-deep .gh-icon-content {
            font-size: 1em;
          }
    }
}

.content {
    padding-top: 1em;
}