@import '../../../../../../styles/variables';

.content {
    border:1px solid #000;
}
.header {
    background-color: lighten($primary-color, 10%);
    color: #fff;
    padding:0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 1em;

    button {
        background-color: $error-color;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 50%;
        padding:0.30em 0.25em 0em 0.25em;
        cursor: pointer;
        ::ng-deep .gh-icon-content {
            font-size: 1em;
          }
    }
}