<div>
    <div class="current-information">
        <div class="title">{{ lastCheckpoint.done ? 'tracking.view.atCheckpoint' : 'tracking.view.inTransit' | translate }}</div>
        <div>{{ currentCheckpoint.location }}, {{ getCountry(currentCheckpoint.location) }}</div>
    </div>
    <div class="current-information">
        <div class="title">{{ 'tracking.view.scheduledDate' | translate }}</div>
        <div>{{ getDate(lastCheckpoint.date) | date: 'dd/MM/yyyy HH:mm' }}</div>
    </div>
</div>
<div class="graph">
    <ng-container *ngFor="let point of trackingPoints; let i = index">
        <div 
            class="point" 
            [class.done]="point.done && !isCanceledTrip"
            [class.exception-transit]="isCanceledTrip"
            [class.exception]="point.done && isCanceledTrip"
            [class.current]="!(trackingPoints[i+1]?.done) && point.done"
        ></div>
        <div 
            *ngIf="i < trackingPoints.length - 1" 
            class="transit"
            [class.exception-transit]="isCanceledTrip"
            [class.done]="trackingPoints[i+1].done && !isCanceledTrip"
            [class.exception]="trackingPoints[i+1].done && isCanceledTrip"
            [ngStyle]="{ 'width': transitWidth }"
        ></div>
    </ng-container>
</div>
<div class="detail">
    <div *ngIf="orderId">{{ 'tracking.view.orderId' | translate }} #{{ orderId }}</div>
    <div>{{ currentCheckpoint.location }}, {{ getCountry(currentCheckpoint.location) }} {{ 'tracking.view.to' | translate }} {{ lastCheckpoint.location }}, {{ getCountry(lastCheckpoint.location) }}</div>
</div>