<form [formGroup]="reportTripForm" (ngSubmit)="reportTrip()">
    <div class="group">
        <div class="section">
            <div class="sub-section">
                <gh-select-field
                [label]="'moduleList.client.sendItems.content.location.from' | translate" 
                [placeholder]="'moduleList.client.sendItems.content.location.country.placeholder' | translate"
                [name]="userCountryField"
                [value]="reportTripForm.get(userCountryField).value"
                (valueChange)="updateUserCountry($event)"
                [errors]="reportTripForm.get(userCountryField).errors"
                [errorCaptions]="countryErrorCaptions"
                [options]="userCountryOptions"
                ></gh-select-field>
            </div>
            <div class="sub-section">
                <gh-select-field
                [placeholder]="'moduleList.gp.reportTrip.airport.placeholder' | translate"
                [name]="userAirportField"
                [value]="reportTripForm.get(userAirportField).value"
                (valueChange)="reportTripForm.get(userAirportField).setValue($event)"
                [errors]="reportTripForm.get(userAirportField).errors"
                [errorCaptions]="airportErrorCaptions"
                [options]="userAirports$ | async"
                ></gh-select-field>
            </div>
        </div>
        <div class="section">
            <div class="sub-section">
                <gh-date-field
                [label]="'moduleList.gp.reportTrip.date.departure.label' | translate"
                [placeholder]="'moduleList.gp.reportTrip.date.departure.datePlaceholder' | translate" 
                [name]="departureDatetField"
                [value]="reportTripForm.get(departureDatetField).value"
                (valueChange)="reportTripForm.get(departureDatetField).setValue($event)"
                [errors]="reportTripForm.get(departureDatetField).errors"
                [minDate]="minDepartureDate"
                [errorCaptions]="dateErrorCaptions"
                ></gh-date-field>
            </div>
            <div class="sub-section">
                <gh-time-field
                [name]="departureTimeField"
                [placeholder]="'moduleList.gp.reportTrip.date.departure.timePlaceholder' | translate"
                [value]="reportTripForm.get(departureTimeField).value"
                (valueChange)="reportTripForm.get(departureTimeField).setValue($event)"
                [errors]="reportTripForm.get(departureTimeField).errors"
                [errorCaptions]="timeErrorCaptions"
                ></gh-time-field>
            </div>
        </div>
    </div>
    <div class="group">
        <div class="section">
            <div class="sub-section">
                <gh-select-field
                [label]="'moduleList.client.sendItems.content.location.to' | translate" 
                [placeholder]="'moduleList.client.sendItems.content.location.country.placeholder' | translate"
                [name]="destinationCountryField"
                [value]="reportTripForm.get(destinationCountryField).value"
                (valueChange)="destinationUserCountry($event)"
                [errors]="reportTripForm.get(destinationCountryField).errors"
                [errorCaptions]="countryErrorCaptions"
                [options]="destinationCountryOptions$ | async"
                ></gh-select-field>
            </div>
            <div class="sub-section">
                <gh-select-field
                [placeholder]="'moduleList.gp.reportTrip.airport.placeholder' | translate"
                [name]="destinationAirportField"
                [value]="reportTripForm.get(destinationAirportField).value"
                (valueChange)="reportTripForm.get(destinationAirportField).setValue($event)"
                [errors]="reportTripForm.get(destinationAirportField).errors"
                [errorCaptions]="airportErrorCaptions"
                [options]="destinationAirports$ | async"
                ></gh-select-field>
            </div>
        </div>
        <div class="section">
            <div class="sub-section">
                <gh-date-field
                [label]="'moduleList.gp.reportTrip.date.arrival.label' | translate"
                [placeholder]="'moduleList.gp.reportTrip.date.arrival.datePlaceholder' | translate" 
                [name]="arrivalDateField"
                [value]="reportTripForm.get(arrivalDateField).value"
                (valueChange)="reportTripForm.get(arrivalDateField).setValue($event)"
                [errors]="reportTripForm.get(arrivalDateField).errors"
                [minDate]="minDepartureDate"
                [errorCaptions]="dateErrorCaptions"
                ></gh-date-field>
            </div>
            <div class="sub-section">
                <gh-time-field
                [name]="arrivalTimeField"
                [placeholder]="'moduleList.gp.reportTrip.date.arrival.timePlaceholder' | translate"
                [value]="reportTripForm.get(arrivalTimeField).value"
                (valueChange)="reportTripForm.get(arrivalTimeField).setValue($event)"
                [errors]="reportTripForm.get(arrivalTimeField).errors"
                [errorCaptions]="timeErrorCaptions"
                ></gh-time-field>
            </div>
        </div>
    </div>
    <hr class="gp-divider">
    <div class="group">
        <div class="title">
            {{ 'moduleList.gp.reportTrip.pricingInformation.title' | translate }}
        </div>
        <div class="section">
            <gh-number-field
            [label]="'moduleList.gp.reportTrip.pricingInformation.availableSpace.label' | translate"
            [placeholder]="'moduleList.gp.reportTrip.pricingInformation.availableSpace.placeholder' | translate"
            [name]="availableSpaceField"
            [value]="reportTripForm.get(availableSpaceField).value"
            (valueChange)="reportTripForm.get(availableSpaceField).setValue($event)"
            [errors]="reportTripForm.get(availableSpaceField).errors"
            [errorCaptions]="availableSpaceErrorCaptions"
            [min]="0.5"
            [step]="0.5"
           ></gh-number-field> 
        </div>
        <div class="section">
            <gh-number-field
            [label]="('moduleList.gp.reportTrip.pricingInformation.defaultPrice.label' | translate) + ' ('+ (userCurrency$ | async).currency + ')'"
            [placeholder]="'moduleList.gp.reportTrip.pricingInformation.defaultPrice.placeholder' | translate"
            [name]="defaultPriceField"
            [value]="reportTripForm.get(defaultPriceField).value"
            (valueChange)="reportTripForm.get(defaultPriceField).setValue($event)"
            [errors]="reportTripForm.get(defaultPriceField).errors"
            [errorCaptions]="defaultPriceErrorCaptions"
            [min]="0"
            [step]="(userCurrency$ | async)?.step"
           ></gh-number-field> 
        </div>
    </div>
    <div class="group">
        <gh-table 
            [columns]="specificPriceTableColumns$ | async" 
            [(elements)]="specificPriceElements"
            [canAdd]="true" 
            [canDelete]="true" 
            [idProperty]="'id'" 
            [emptyTemplate]="emptyTemplate"
            [itemFactory]="newSpecificItemFactory"
            [deleteFactory]="deleteSpecificItemFactory"
            ></gh-table>
    </div>
    <div>
        <button
            [buttonLoading]="loading$ | async" 
            type="submit" 
            class="gp-button" 
            [disabled]="!reportTripForm.valid"
        >{{ 'moduleList.gp.reportTrip.send' | translate }}</button>
    </div>
</form>
<ng-template #emptyTemplate let-value="value">
    <div class="empty-view">
        <div class="empty-content">
            <gh-icon [name]="emptyTableLogo"></gh-icon>
            <div class="empty-caption">{{ 'moduleList.gp.reportTrip.pricingInformation.specificPrice.table.empty' | translate }}</div>
        </div>
    </div>
</ng-template>

<ng-template #categoryTemplate let-element="element">
    <gh-select-field
        [placeholder]="'global.itemInformation.itemCategory.placeholder' | translate"
        [name]="element.id"
        [value]="specificPriceFormControl.at(element.id).get('category').value"
        (valueChange)="specificPriceFormControl.at(element.id).get('category').setValue($event)"
        [errors]="specificPriceFormControl.at(element.id).get('category').errors"
        [errorCaptions]="itemCategoryErrorCaptions"
        [groupedOptions]="itemCategorySelectOptions"
    ></gh-select-field>
</ng-template>

<ng-template #priceTemplate let-element="element">
    <gh-number-field
        [placeholder]="'moduleList.gp.reportTrip.pricingInformation.specificPrice.table.price.placeholder' | translate"
        [name]="element.id"
        [value]="specificPriceFormControl.at(element.id).get('price').value"
        (valueChange)="specificPriceFormControl.at(element.id).get('price').setValue($event)"
        [errors]="specificPriceFormControl.at(element.id).get('price').errors"
        [errorCaptions]="specificPriceErrorCaptions"
        [min]="0"
        [step]="(userCurrency$ | async)?.step"
    ></gh-number-field>
</ng-template>

<ng-template #unitTemplate let-element="element">
    <gh-select-field
        [placeholder]="'global.itemInformation.itemCategory.placeholder' | translate"
        [name]="element.id"
        [value]="specificPriceFormControl.at(element.id).get('unit').value"
        (valueChange)="specificPriceFormControl.at(element.id).get('unit').setValue($event)"
        [errors]="specificPriceFormControl.at(element.id).get('unit').errors"
        [errorCaptions]="itemCategoryErrorCaptions"
        [options]="unitOptions"
    ></gh-select-field>
</ng-template>