.group {
    margin-bottom: 1em;
}

.section {
    margin-bottom: 0.5em;
}

.title {
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0;
}

button {
    width: 100%;
}

.empty-view {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:1em;

    .empty-content {
        text-align: center;
    }

    ::ng-deep .gh-icon-content {
        font-size: 5em;
        border: 1px solid #000;
        border-radius: 50%;;
        padding:0.25em
    }

    .empty-caption {
        font-size: 1.5em;
        margin-top: 1em;
    }    
}

gh-table {
    ::ng-deep .error-message {
        display: none;
    }
}