<div class="label">{{ label }}</div>
<div class="content">
    <div class="section">
        <gh-text-field
            [label]="'orderFilter.form.email.label' | translate" 
            [placeholder]="'orderFilter.form.email.placeholder' | translate"
            [name]="emailField"
            [value]="form.get(emailField).value"
            (valueChange)="form.get(emailField).setValue($event)"
            [errors]="form.get(emailField).errors"
            [errorCaptions]="emailErrorCaptions"
        ></gh-text-field>
    </div>
    <div class="section">
        <gh-text-field
            [label]="'orderFilter.form.trip.label' | translate" 
            [placeholder]="'orderFilter.form.trip.placeholder' | translate"
            [name]="orderField"
            [value]="form.get(orderField).value"
            (valueChange)="form.get(orderField).setValue($event)"
            [errors]="form.get(orderField).errors"
            [errorCaptions]="orderErrorCaptions"
            [maxLength]="5"
        ></gh-text-field>
    </div>
    <div class="section">
        <gh-date-field
        [label]="'orderFilter.form.deliveryDate.label' | translate" 
        [placeholder]="'orderFilter.form.deliveryDate.placeholder' | translate"
        [name]="deliveryDateField"
        [value]="form.get(deliveryDateField).value"
        (valueChange)="form.get(deliveryDateField).setValue($event)"
        [errors]="form.get(deliveryDateField).errors"
        [minDate]="todayDate"
        [errorCaptions]="deliveryDateErrorCaptions"
        ></gh-date-field>
    </div>
    <div class="section">
        <gh-select-field
        [label]="'orderFilter.form.country.label' | translate" 
        [placeholder]="'orderFilter.form.country.placeholder' | translate"
        [name]="countryField"
        [value]="form.get(countryField).value"
        (valueChange)="updateCountry($event)"
        [errors]="form.get(countryField).errors"
        [options]="countryOptions$ | async"
        ></gh-select-field>
    </div>
    <div class="section">
        <gh-select-field
        [label]="'orderFilter.form.airport.label' | translate" 
        [placeholder]="'orderFilter.form.airport.placeholder' | translate"
        [name]="regionField"
        [value]="form.get(regionField).value"
        (valueChange)="form.get(regionField).setValue($event)"
        [errors]="form.get(regionField).errors"
        [options]="form.get(countryField).value ? (destinationAirports$ | async) : []"
        ></gh-select-field>
    </div>
    <div class="button-section">
        <button
            [disabled]="!form.valid" 
            class="gp-button" 
            (click)="filterOrders()">
            {{ 'orderFilter.form.submit' | translate }}
        </button>
    </div>
</div>