<div class="content">
    <div>
        <div class="title">
            <h1>{{ 'moduleList.dispatching.view.manage.title' | translate }}</h1>
        </div>
        <gh-tracking 
            [departureDate]="departureDate$ | async"
            [arrivalDate]="arrivalDate$ | async"
            [history]="history$ | async"
            [originCity]="originCity$ | async"
            [destinationCity]="destinationCity$ | async"
            [layovers]="layovers$ | async"
            [(orderId)]="orderId"
            (reloadPage)="reloadPage()"
            [orderList]="orderList$ | async"
            [addHistoryResolver]="addHistoryResolver"
            [gpView]="true"
        ></gh-tracking>
    </div>
</div>