<div class="content">
    <div>
        <div class="title">
            <h1>{{ 'moduleList.dispatching.view.manage.title' | translate }}</h1>
        </div>
        <gh-tracking 
            [departureDate]="departureDate$ | async"
            [arrivalDate]="arrivalDate$ | async"
            [history]="history$ | async"
            [originCity]="originCity$ | async"
            [destinationCity]="destinationCity$ | async"
            [layovers]="layovers$ | async"
            [(orderId)]="orderId"
            (reloadPage)="reloadPage()"
            [orders]="orders$ | async"
            [addHistoryResolver]="addHistoryResolver"
            [tasks]="tasks$ | async"
            [status]="tripStatus$ | async"
            [gpView]="true"
        ></gh-tracking>
        <button 
            *ngIf="(tripStatus$ | async) !== tripDone" 
            class="gp-button" 
            (click)="changeDate()"
        >{{ 'moduleList.dispatching.view.manage.changeDate' | translate }}</button>
    </div>
</div>