@import '../../../../../styles/variables';

.content {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.state-view {
    width: 500px;
}

.title {
    margin-top: 2em;
    font-size: 1em;
}

.section {
    display: flex;
    justify-content: center;
    padding:1em;

    button {
        width: 100%;
    }
}

.text {
    text-align:justify;
}

.success-view {
    p {
        text-align: center;
        padding-bottom: 2em;
    }

    .email {
        font-weight: $bold;
    }
}