<form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
    <div class="content">
        <div class="state-view">
        <div>
            <gh-title [title]="title"></gh-title>
        </div>
        <div class="title section">
            <h1>{{ titleText | translate}}</h1>
        </div>
        <div class="text section">
            <p>
                {{ contentText | translate}}
            </p>
        </div>
        <div class="section">
            <gh-password-field
            [label]="'global.credentials.password.label' | translate" 
            [placeholder]="'global.credentials.password.placeholder' | translate"
            [name]="passwordField"
            [value]="resetPasswordForm.get(passwordField).value"
            (valueChange)="resetPasswordForm.get(passwordField).setValue($event)"
            [showRequirements]="true"
            [errors]="resetPasswordForm.get(passwordField).errors"
            [errorCaptions]="passwordErrorCaptions"
        ></gh-password-field>
        </div>
        <div class="section">
            <gh-password-field
            [label]="'global.credentials.confirmPassword.label' | translate" 
            [placeholder]="'global.credentials.confirmPassword.placeholder' | translate"
            [name]="confirmPasswordField"
            [value]="resetPasswordForm.get(confirmPasswordField).value"
            (valueChange)="resetPasswordForm.get(confirmPasswordField).setValue($event)"
            [errors]="resetPasswordForm.get(confirmPasswordField).errors"
            [errorCaptions]="confirmPasswordErrorCaptions"
        ></gh-password-field>
        </div>
    </div>
        <div class="section">
            <button
                [buttonLoading]="loading$ | async" 
                type="submit" 
                class="gp-button" 
                [disabled]="!resetPasswordForm.valid"
            >{{ 'global.resetPassword.send' | translate }}</button>
        </div>
    </div>
</form>