<gh-console-view [title]="captions.title" (closed)="close()">
    <div *ngIf="!(isConfirmed$ | async); else confirmedView">
        <div class="section">
            <div class="sub-section">
                <div class="title">{{ captions.departure }}</div>
                <div>{{ selectedTrip.departureDate.date | date: 'dd/MM/yyyy' }}</div>
                <div>{{ selectedTrip.departureTime.timeString }}</div>
                <div>{{ selectedTrip.userCountry }} {{ selectedTrip.userAirport }}</div>
            </div>
            <div class="sub-section">
                <div class="title">{{ captions.arrival }}</div>
                <div>{{ selectedTrip.arrivalDate.date | date: 'dd/MM/yyyy' }}</div>
                <div>{{ selectedTrip.arrivalTime.timeString }}</div>
                <div>{{ selectedTrip.destinationCountry }} - {{ selectedTrip.destinationAirport }}</div>
            </div>
        </div>
        <div class="section">
            <div class="sub-section">
                <div class="title">{{ captions.total }}</div>
                <div>{{ totalPrice }} {{ currency }}</div>
            </div>
        </div>
        <div class="section">
            <button [buttonLoading]="sendingDataServer$ | async" type="button" class="gp-button" (click)="confirm()">{{ captions.select }}</button>
        </div>
    </div>
    <ng-template #confirmedView>
        <div class="confirmed-view">
            <div class="title confirmed-view-section">{{ captions.confirm.title }}</div>
            <div class="check-logo confirmed-view-section">
                <gh-icon name="check"></gh-icon>
            </div>
            <div class="confirmed-view-section">{{ captions.confirm.content }}</div>
            <div class="confirmed-view-section">
                <button type="button" class="gp-button" (click)="seeMyOrders()">{{ captions.confirm.button }}</button>
            </div>
        </div>
    </ng-template>
</gh-console-view>