<div class="content" *ngFor="let itemInformationForm of itemInformationList">
    <div class="section-item-information">
        <div>
            <gh-upload-image 
                [label]="'moduleList.client.sendItems.content.itemInformation.uploadPhoto.label'"
                [name]="imageField+itemInformationForm.id"
                [value]="itemInformationForm.itemInformation.get(imageField).value"
                (valueChange)="itemInformationForm.itemInformation.get(imageField).setValue($event)"
                [errors]="itemInformationForm.itemInformation.get(imageField).errors"
                [errorCaptions]="imageErrorCaptions"
                [readonly]="itemInformationForm.formMode === formMode.VIEW"
            ></gh-upload-image>
        </div>
        <div class="sub-section-item-information">
            <gh-text-field
            [label]="'moduleList.client.sendItems.content.itemInformation.itemName.label' | translate" 
            [placeholder]="'moduleList.client.sendItems.content.itemInformation.itemName.placeholder' | translate"
            [name]="itemNameField+itemInformationForm.id"
            [value]="itemInformationForm.itemInformation.get(itemNameField).value"
            (valueChange)="itemInformationForm.itemInformation.get(itemNameField).setValue($event)"
            [errors]="itemInformationForm.itemInformation.get(itemNameField).errors"
            [errorCaptions]="itemNameErrorCaptions"
            [readonly]="itemInformationForm.formMode === formMode.VIEW"
            ></gh-text-field>
            <gh-select-field
                [label]="'moduleList.client.sendItems.content.itemInformation.itemCategory.label' | translate" 
                [placeholder]="'moduleList.client.sendItems.content.itemInformation.itemCategory.placeholder' | translate"
                [name]="itemCategoryField+itemInformationForm.id"
                [value]="itemInformationForm.itemInformation.get(itemCategoryField).value"
                (valueChange)="itemInformationForm.itemInformation.get(itemCategoryField).setValue($event)"
                [errors]="itemInformationForm.itemInformation.get(itemCategoryField).errors"
                [errorCaptions]="itemCategoryErrorCaptions"
                [groupedOptions]="itemInformationSelectOptions"
                [readonly]="itemInformationForm.formMode === formMode.VIEW"
                ></gh-select-field>
        </div>
    </div>
    <div>
        <div class="section">
          <gh-number-field
             [label]="'moduleList.client.sendItems.content.itemInformation.itemWeight.label' | translate" 
             [placeholder]="'moduleList.client.sendItems.content.itemInformation.itemWeight.placeholder' | translate"
             [name]="itemWeightField+itemInformationForm.id"
             [value]="itemInformationForm.itemInformation.get(itemWeightField).value"
             (valueChange)="itemInformationForm.itemInformation.get(itemWeightField).setValue($event)"
             [errors]="itemInformationForm.itemInformation.get(itemWeightField).errors"
             [errorCaptions]="itemWeightErrorCaptions"
             [min]="0"
             [step]="0.01"
             [max]="maxLuggageWeight"
             [readonly]="itemInformationForm.formMode === formMode.VIEW"
            ></gh-number-field>
        </div>
        <div class="section">
            <gh-number-field
               [label]="'moduleList.client.sendItems.content.itemInformation.itemQuantity.label' | translate" 
               [placeholder]="'moduleList.client.sendItems.content.itemInformation.itemQuantity.placeholder' | translate"
               [name]="itemQuantityField+itemInformationForm.id"
               [tooltip]="'moduleList.client.sendItems.content.itemInformation.itemQuantity.tooltip' | translate"
               [value]="itemInformationForm.itemInformation.get(itemQuantityField).value"
               (valueChange)="itemInformationForm.itemInformation.get(itemQuantityField).setValue($event)"
               [errors]="itemInformationForm.itemInformation.get(itemQuantityField).errors"
               [errorCaptions]="itemWeightErrorCaptions"
               [readonly]="itemInformationForm.formMode === formMode.VIEW"
               [min]="1"
               [step]="1"
              ></gh-number-field>
          </div>
          <div class="section">
            <gh-text-area
             [label]="'moduleList.client.sendItems.content.itemInformation.extraNotes.label' | translate" 
             [name]="extraNotesField+itemInformationForm.id"
             [value]="itemInformationForm.itemInformation.get(extraNotesField).value"
             (valueChange)="itemInformationForm.itemInformation.get(extraNotesField).setValue($event)"
             [errors]="itemInformationForm.itemInformation.get(extraNotesField).errors"
             [readonly]="itemInformationForm.formMode === formMode.VIEW"
            ></gh-text-area>
          </div>
          <div class="section">
            <gh-text-area
             [label]="'moduleList.client.sendItems.content.itemInformation.reasonShipping.label' | translate" 
             [name]="reasonShippingField+itemInformationForm.id"
             [value]="itemInformationForm.itemInformation.get(reasonShippingField).value"
             (valueChange)="itemInformationForm.itemInformation.get(reasonShippingField).setValue($event)"
             [errors]="itemInformationForm.itemInformation.get(reasonShippingField).errors"
             [readonly]="itemInformationForm.formMode === formMode.VIEW"
            ></gh-text-area>
          </div>
          <button
            *ngIf="itemInformationForm.formMode === formMode.CREATE"
            type="submit" 
            class="gp-button" 
            [disabled]="!itemInformationForm.itemInformation.valid"
            (click)="saveItemInformation(itemInformationForm)"
        >{{ 'global.common.save' | translate }}</button>
        <button
            *ngIf="itemInformationForm.formMode === formMode.VIEW"
            type="submit" 
            class="gp-button" 
            (click)="goToEditMode(itemInformationForm)"
        >{{ 'global.common.edit' | translate }}</button>
        <button
            *ngIf="itemInformationForm.formMode === formMode.EDIT"
            type="submit" 
            class="gp-button" 
            (click)="editItemInformation(itemInformationForm)"
        >{{ 'global.common.edit' | translate }}</button>
        <button
            *ngIf="itemInformationForm.formMode === formMode.EDIT"
            type="button" 
            class="attention-button" 
            (click)="cancelEditItemInformation(itemInformationForm)"
        >{{ 'global.common.cancel' | translate }}</button>
        <button
            *ngIf="itemInformationForm.formMode === formMode.VIEW"
            type="button" 
            class="attention-button" 
            (click)="deleteItemInformation(itemInformationForm)"
        >{{ 'global.common.delete' | translate }}</button>
    </div>
</div>