@import '../../../../../styles/variables';

.content {
    border:1px solid #000;
    padding: 1em;
}

.section-item-information {
    display: flex;
}

.section, .sub-section-item-information {
    margin-bottom: 0.5em;
}

.sub-section-item-information {
    padding-left: 1em;
    width: 100%;

    * {
        margin-bottom: 1em;
    }
}

button {
    width: 100%;
}

.size-section {
    display: flex;
    justify-content: space-between;

    gh-number-field {
        margin-right: 1rem;
    }
}