<div class="header">
    <ng-content></ng-content>
</div>
<div class="content">
    <div class="module">
        <div class="module-content">
        <div class="title">
            <div class="icon">
                <gh-icon [name]="'calendar_month'"></gh-icon>
            </div>
        </div>
        <div class="module-name">
            Make a Request
        </div>
        <div class="next-button">
            <gh-icon [name]="nextPageIcon"></gh-icon>
        </div>
    </div>
    </div>
</div>