@import '../../../../styles/variables';

.header
{
    background-color: $primary-color;
}

::ng-deep .app-content {
    padding-top: 0 !important;
}

.module {
    padding: 0.5em 1em 1em 1em;
    font-size: 1.5em;

    .icon {
        ::ng-deep .gh-icon-content {
            color: $secondary-color;
            font-size: 1.5em;
        }
    }

    .module-content {
        width: 100%;
        display: flex;
        justify-content: left;
    }

    .module-name {
        margin-top: 0.25em;
        color: rgb(58, 58, 58);
    }

    .title {
        gh-icon {
            margin-right: 1em;
        }
    }
}

@media (min-width: 768px) {
    .content {
        display: flex;
        flex-wrap: wrap;
    }

    .module {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 250px;
        min-height:250px;
        margin: 1em;
        background-color: $primary-color;
        border-width: 0;
        cursor: pointer;
        color: white;

        .module-content {
            width: 100%;
            display: block;
        }

        .title {
            .icon {
                display: flex;
                justify-content: center;
                ::ng-deep .gh-icon-content {
                    font-size: 5em;
                    color: #fff;
                }
            }
        }

        .module-name {
            text-align: center;
            font-size: 1.5em;
            margin-top: 1em;
            color: #fff;
        }

        .next-button{
            display: none;
        }
    }
  }