@import '../../../../styles/variables';

.header
{
    background-color: $primary-color;
}

::ng-deep .app-content {
    padding-top: 0 !important;
}

.page {
    display: flex;
}

.content {
    background-color: $primary-color;
    height: auto;    
}

.module {
    padding: 0.5em 1em 1em 1em;
    font-size: 1.5em;
    cursor: pointer;

    .icon {
        ::ng-deep .gh-icon-content {
            color: #fff;
            font-size: 1.5em;
        }
    }

    .module-content {
        width: 100%;
        display: flex;
        justify-content: left;
    }

    .module-name {
        margin-top: 0.25em;
        color: #fff;
        text-wrap: nowrap;
    }

    .title {
        gh-icon {
            margin-right: 1em;
        }
    }
}

.main-body-style {
    padding: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 70vh;
}


@media (max-width: 768px) {
    .content {
        position: absolute;
        z-index: 1000;
        background-color: white;
        width: 100%;
    }

    .module {
        .icon {
            ::ng-deep .gh-icon-content {
                color: $secondary-color;
            }
        }

        .module-name {
            color: #000;
        }
    }

    .hide-body {
        display: none;
    }
}