@import "../../../../../styles/notification";

.group {
    margin-bottom: 1em;
}

.section {
    margin-bottom: 0.5em;
}

.title {
    text-align: center;
    font-size: 1.5em;
    margin: 0.5em 0;
}

.send-request {
    button {
        width: 100%;
    }
}