<form [formGroup]="sendItemsForm" (ngSubmit)="sendItems()">
    <div class="group">
        <div class="section">
            <div class="title">
                {{ 'sendItems.shippingInformation.title' | translate }}
            </div>
            <div class="sub-section">
                <gh-select-field
                [label]="'sendItems.location.from' | translate" 
                [placeholder]="'sendItems.location.country.placeholder' | translate"
                [name]="userCountryField"
                [value]="sendItemsForm.get(userCountryField).value"
                (valueChange)="updateUserCountry($event)"
                [errors]="sendItemsForm.get(userCountryField).errors"
                [errorCaptions]="countryErrorCaptions"
                [options]="userCountryOptions"
                ></gh-select-field>
            </div>
            <div class="sub-section">
                <gh-select-field
                [placeholder]="'sendItems.location.region.placeholder' | translate"
                [name]="userRegionField"
                [value]="sendItemsForm.get(userRegionField).value"
                (valueChange)="sendItemsForm.get(userRegionField).setValue($event)"
                [errors]="sendItemsForm.get(userRegionField).errors"
                [errorCaptions]="regionErrorCaptions"
                [options]="userRegionOptions$ | async"
                ></gh-select-field>
            </div>
        </div>
        <div class="section">
            <div class="sub-section">
                <gh-select-field
                [label]="'sendItems.location.to' | translate" 
                [placeholder]="'sendItems.location.country.placeholder' | translate"
                [name]="destinationCountryField"
                [value]="sendItemsForm.get(destinationCountryField).value"
                (valueChange)="destinationUserCountry($event)"
                [errors]="sendItemsForm.get(destinationCountryField).errors"
                [errorCaptions]="countryErrorCaptions"
                [options]="destinationCountryOptions$ | async"
                ></gh-select-field>
            </div>
            <div class="sub-section">
                <gh-select-field
                [placeholder]="'sendItems.location.region.placeholder' | translate"
                [name]="destinationRegionField"
                [value]="sendItemsForm.get(destinationRegionField).value"
                (valueChange)="sendItemsForm.get(destinationRegionField).setValue($event)"
                [errors]="sendItemsForm.get(destinationRegionField).errors"
                [errorCaptions]="regionErrorCaptions"
                [options]="destinationRegionOptions$ | async"
                [disabled]="!sendItemsForm.get(destinationCountryField).value"
                ></gh-select-field>
            </div>
        </div>
        <div class="section">
            <div class="section">
                <gh-text-field
                [label]="'sendItems.shippingInformation.consigneeFullName.label' | translate" 
                [placeholder]="'sendItems.shippingInformation.consigneeFullName.placeholder' | translate"
                [name]="consigneeFullNameField"
                [value]="sendItemsForm.get(consigneeFullNameField).value"
                (valueChange)="sendItemsForm.get(consigneeFullNameField).setValue($event)"
                [errors]="sendItemsForm.get(consigneeFullNameField).errors"
                [errorCaptions]="consigneeFullNameErrorCaptions"
                ></gh-text-field>
            </div>
            <div class="section">
                <gh-text-field
                [label]="'sendItems.shippingInformation.consigneeAddress.label' | translate" 
                [placeholder]="'sendItems.shippingInformation.consigneeAddress.placeholder' | translate"
                [name]="consigneeAddressField"
                [value]="sendItemsForm.get(consigneeAddressField).value"
                (valueChange)="sendItemsForm.get(consigneeAddressField).setValue($event)"
                [errors]="sendItemsForm.get(consigneeAddressField).errors"
                [errorCaptions]="consigneeAddressErrorCaptions"
                ></gh-text-field>
            </div>
            <div class="section">
                <gh-phone-field
                [label]="'sendItems.shippingInformation.consigneePhoneNumber.label' | translate" 
                [placeholder]="'sendItems.shippingInformation.consigneePhoneNumber.placeholder' | translate"
                [name]="consigneePhoneNumberField"
                [defaultValue]="this.request?.consigneePhoneNumber"
                (formattedValueChange)="sendItemsForm.get(consigneePhoneNumberField).setValue($event)"
                [maxLength]="currentCountryInfo(sendItemsForm.get(destinationCountryField).value)?.phone.length"
                [errors]="sendItemsForm.get(consigneePhoneNumberField).errors"
                [errorCaptions]="consigneePhoneNumberErrorCaptions"
                [disabled]="!(sendItemsForm.get(destinationCountryField).value)"
                [phoneInfo]="currentCountryInfo(sendItemsForm.get(destinationCountryField).value)?.phone"
            ></gh-phone-field>
            </div>
        </div>
        <div class="title">
            {{ 'global.itemInformation.title' | translate }}
        </div>
        <gh-item-information 
            [itemInformation]="sendItemsForm.get(itemInformationField).value"
            (itemInformationChange)="sendItemsForm.get(itemInformationField).setValue($event)"
        ></gh-item-information>
    </div>
    <ng-container *ngIf="alertMode">
        <hr class="gp-divider">
        <div class="group">
            <div class="title">
                {{ 'global.alertRequirement.title' | translate }}
            </div>
            <gh-alert-form 
                [request]="request"
                [currency]="currency"
            ></gh-alert-form>    
        </div>
    </ng-container>
</form>
<div class="send-request">
    <button
        [buttonLoading]="loading$ | async" 
        type="submit" 
        class="gp-button" 
        [disabled]="!sendItemsForm.valid"
        (click)="sendItems()"
    >{{ submitCapiton }}</button>
</div>