<form [formGroup]="signupForm" (ngSubmit)="signUp()">
<div class="content">
    <div>
    <div class="title">
        <gh-title [title]="title"></gh-title>
    </div>
    <div class="desktop-view">
    <div class="desktop-section">
        <div class="sub-title">{{ 'global.signup.credentials.title' | translate }}</div>
        <div class="section">
            <gh-text-field
            [label]="'global.credentials.email.label' | translate" 
            [placeholder]="'global.credentials.email.placeholder' | translate"
            [name]="emailField"
            [value]="signupForm.get(emailField).value"
            (valueChange)="signupForm.get(emailField).setValue($event)"
            [errors]="signupForm.get(emailField).errors"
            [errorCaptions]="emailErrorCaptions"
        ></gh-text-field>
        </div>
        <div class="section">
            <gh-password-field
            [label]="'global.credentials.password.label' | translate" 
            [placeholder]="'global.credentials.password.placeholder' | translate"
            [name]="passwordField"
            [value]="signupForm.get(passwordField).value"
            (valueChange)="signupForm.get(passwordField).setValue($event)"
            [showRequirements]="true"
            [errors]="signupForm.get(passwordField).errors"
            [errorCaptions]="passwordErrorCaptions"
        ></gh-password-field>
        </div>
        <div class="section">
            <gh-password-field
            [label]="'global.credentials.confirmPassword.label' | translate" 
            [placeholder]="'global.credentials.confirmPassword.placeholder' | translate"
            [name]="confirmPasswordField"
            [value]="signupForm.get(confirmPasswordField).value"
            (valueChange)="signupForm.get(confirmPasswordField).setValue($event)"
            [errors]="signupForm.get(confirmPasswordField).errors"
            [errorCaptions]="confirmPasswordErrorCaptions"
        ></gh-password-field>
        </div>
    </div>
    <div class="desktop-section">
        <div class="sub-title">{{ 'global.signup.businessDetails.title' | translate }}</div>
        <div class="section">
            <gh-text-field
            [label]="'global.signup.businessDetails.businessName.label' | translate" 
            [placeholder]="'global.signup.businessDetails.businessName.placeholder' | translate"
            [name]="businessNameField"
            [value]="signupForm.get(businessNameField).value"
            (valueChange)="signupForm.get(businessNameField).setValue($event)"
            [errors]="signupForm.get(businessNameField).errors"
            [errorCaptions]="businessNameErrorCaptions"
            ></gh-text-field>
        </div>
        <div class="section">
            <gh-select-field
            [label]="'global.signup.businessDetails.sectorOfActivity.label' | translate" 
            [placeholder]="'global.signup.businessDetails.sectorOfActivity.placeholder' | translate"
            [name]="sectorOfActivityField"
            [value]="signupForm.get(sectorOfActivityField).value"
            (valueChange)="signupForm.get(sectorOfActivityField).setValue($event)"
            [errors]="signupForm.get(sectorOfActivityField).errors"
            [errorCaptions]="sectorOfActivityErrorCaptions"
            [options]="sectorOfActivityOptions"
            ></gh-select-field>
        </div>
        <div class="section">
            <gh-select-field
            [label]="'global.signup.businessDetails.country.label' | translate" 
            [placeholder]="'global.signup.businessDetails.country.placeholder' | translate"
            [name]="countryField"
            [value]="signupForm.get(countryField).value"
            (valueChange)="signupForm.get(countryField).setValue($event)"
            [errors]="signupForm.get(countryField).errors"
            [errorCaptions]="countryErrorCaptions"
            [options]="countryOptions"
            ></gh-select-field>
        </div>
        <div class="section">
            <gh-text-field
            [label]="'global.signup.businessDetails.address.label' | translate" 
            [placeholder]="'global.signup.businessDetails.address.placeholder' | translate"
            [name]="addressField"
            [value]="signupForm.get(addressField).value"
            (valueChange)="signupForm.get(addressField).setValue($event)"
            [errors]="signupForm.get(addressField).errors"
            [errorCaptions]="addressErrorCaptions"
            ></gh-text-field>
        </div>
        <div class="section">
            <gh-text-field
            *ngIf="signupForm.get(countryField).value"
            [label]="'global.signup.businessDetails.businessKey.label' | translate: { businessKey: 'enums.businessKey.'+currentCountryInfo(signupForm.get(countryField).value)?.businessKey | translate }" 
            [placeholder]="'global.signup.businessDetails.businessKey.placeholder' | translate: { businessKey: 'enums.businessKey.'+currentCountryInfo(signupForm.get(countryField).value)?.businessKey | translate }"
            [name]="businessKeyField"
            [value]="signupForm.get(businessKeyField).value"
            (valueChange)="signupForm.get(businessKeyField).setValue($event)"
            [errors]="signupForm.get(businessKeyField).errors"
            [errorCaptions]="businessKeyErrorCaptions"
            ></gh-text-field>
        </div>
    </div>
    <div class="desktop-section">
        <div class="sub-title">{{ 'global.signup.representativeDetails.title' | translate }}</div>
        <div class="section">
            <gh-text-field
            [label]="'global.signup.representativeDetails.firstName.label' | translate" 
            [placeholder]="'global.signup.representativeDetails.firstName.placeholder' | translate"
            [name]="firstNameField"
            [value]="signupForm.get(firstNameField).value"
            (valueChange)="signupForm.get(firstNameField).setValue($event)"
            [errors]="signupForm.get(firstNameField).errors"
            [errorCaptions]="firstNameErrorCaptions"
            ></gh-text-field>
        </div>
        <div class="section">
            <gh-text-field
            [label]="'global.signup.representativeDetails.lastName.label' | translate" 
            [placeholder]="'global.signup.representativeDetails.lastName.placeholder' | translate"
            [name]="lastNameField"
            [value]="signupForm.get(lastNameField).value"
            (valueChange)="signupForm.get(lastNameField).setValue($event)"
            [errors]="signupForm.get(lastNameField).errors"
            [errorCaptions]="lastNameErrorCaptions"
            ></gh-text-field>
        </div>
        <div class="section">
            <gh-phone-field
            [label]="'global.signup.representativeDetails.phoneNumber.label' | translate" 
            [placeholder]="'global.signup.representativeDetails.phoneNumber.label' | translate"
            [name]="phoneNumberField"
            (formattedValueChange)="signupForm.get(phoneNumberField).setValue($event)"
            [maxLength]="currentCountryInfo(signupForm.get(countryField).value)?.phone.length"
            [errors]="signupForm.get(phoneNumberField).errors"
            [errorCaptions]="phoneNumberErrorCaptions"
            [disabled]="!(signupForm.get(countryField).value)"
            [phoneInfo]="currentCountryInfo(signupForm.get(countryField).value)?.phone"
            ></gh-phone-field>
        </div>
    </div>
    </div>
    <hr class="gp-divider">
    <gh-checkbox 
        [caption]="termsAndConditionsTemplate"
        [name]="termsAndConditionsField" 
        [errorCaptions]="termsAndConditionsErrorCaptions"
        [errors]="signupForm.get(termsAndConditionsField).errors"
        [value]="signupForm.get(termsAndConditionsField).value"
        (valueChange)="signupForm.get(termsAndConditionsField).setValue($event)"
    >
        <ng-template #termsAndConditionsTemplate>
            <span class="terms-and-condtions">
                {{ termsAndConditionsCaption?.[0]  }} <span class="link" (click)="openTermsAndConditionsModal()"> {{ termsAndConditionsCaption?.[1] }}</span>
            </span>
        </ng-template>
    </gh-checkbox>
    <div class="sign-up">
        <button
            [buttonLoading]="loading$ | async" 
            type="submit" 
            class="gp-button" 
            [disabled]="!signupForm.valid"
        >{{ 'global.signup.signup' | translate }}</button>
    </div>
    <div class="already-have-account">
        <div class="gp-link" (click)="redirectToLogInUrl()">
            <span>{{ 'global.signup.alreadyHaveAccount' | translate }}</span>
        </div>
    </div>
</div>
</div>
</form>