@import '../../../../../styles/variables';

.content {
    display: flex;
    justify-content: center;
    margin-top: 3em;
    padding: 0 1.5em 3em 1.5em;
}

.title {
    margin-bottom: 3em;
}

.sub-title {
    color: $secondary-color;
    font-weight: $semi-bold;
    font-size: 1.3em;
}

.section {
    margin:1em 0;
}

.sign-up {
    margin-top:1em;
    button {
        width: 100%;
    }
}

.terms-and-condtions {
    font-weight: $bold;
    .link {
        text-decoration: underline;
        cursor: pointer;
    }
}

.already-have-account {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}