<form>
<div class="content">
    <div>
    <div class="title">
        <gh-title [title]="title"></gh-title>
    </div>
    <div>
        <div class="sub-title">{{ 'global.signup.credentials.title' | translate }}</div>
        <div class="section">
            <gh-text-field
            [label]="'global.credentials.email.label' | translate" 
            [placeholder]="'global.credentials.email.placeholder' | translate"
            [name]="emailField"
            [value]="signupForm.get(emailField).value"
            (valueChange)="signupForm.get(emailField).setValue($event)"
            [errors]="signupForm.get(emailField).errors"
            [errorCaptions]="emailErrorCaptions"
        ></gh-text-field>
        </div>
        <div class="section">
            <gh-password-field
            [label]="'global.credentials.password.label' | translate" 
            [placeholder]="'global.credentials.password.placeholder' | translate"
            [name]="passwordField"
            [value]="signupForm.get(passwordField).value"
            (valueChange)="signupForm.get(passwordField).setValue($event)"
            [showRequirements]="true"
            [errors]="signupForm.get(passwordField).errors"
            [errorCaptions]="passwordErrorCaptions"
        ></gh-password-field>
        </div>
        <div class="section">
            <gh-password-field
            [label]="'global.credentials.confirmPassword.label' | translate" 
            [placeholder]="'global.credentials.confirmPassword.placeholder' | translate"
            [name]="confirmPasswordField"
            [value]="signupForm.get(confirmPasswordField).value"
            (valueChange)="signupForm.get(confirmPasswordField).setValue($event)"
            [errors]="signupForm.get(confirmPasswordField).errors"
            [errorCaptions]="confirmPasswordErrorCaptions"
        ></gh-password-field>
        </div>
    </div>
    <div>
        <div class="sub-title">{{ 'global.signup.accountDetails.title' | translate }}</div>
        <div class="section">
            <gh-text-field
            [label]="'global.signup.accountDetails.firstName.label' | translate" 
            [placeholder]="'global.signup.accountDetails.firstName.placeholder' | translate"
            [name]="firstNameField"
            [value]="signupForm.get(firstNameField).value"
            (valueChange)="signupForm.get(firstNameField).setValue($event)"
            [errors]="signupForm.get(firstNameField).errors"
            [errorCaptions]="firstNameErrorCaptions"
            ></gh-text-field>
        </div>
        <div class="section">
            <gh-text-field
            [label]="'global.signup.accountDetails.lastName.label' | translate" 
            [placeholder]="'global.signup.accountDetails.lastName.placeholder' | translate"
            [name]="lastNameField"
            [value]="signupForm.get(lastNameField).value"
            (valueChange)="signupForm.get(lastNameField).setValue($event)"
            [errors]="signupForm.get(lastNameField).errors"
            [errorCaptions]="lastNameErrorCaptions"
            ></gh-text-field>
        </div>
        <div class="section">
            <gh-date-field
            [label]="'global.signup.accountDetails.dateOfBirth.label' | translate" 
            [placeholder]="'global.signup.accountDetails.dateOfBirth.placeholder' | translate"
            [name]="dateOfBirthField"
            [value]="signupForm.get(dateOfBirthField).value"
            (valueChange)="signupForm.get(dateOfBirthField).setValue($event)"
            [errors]="signupForm.get(dateOfBirthField).errors"
            [maxDate]="maxDate"
            [errorCaptions]="dateOfBirthErrorCaptions"
            ></gh-date-field>
        </div>
        <div class="section">
            <gh-select-field
            [label]="'global.signup.accountDetails.gender.label' | translate" 
            [placeholder]="'global.signup.accountDetails.gender.placeholder' | translate"
            [name]="genderField"
            [value]="signupForm.get(genderField).value"
            (valueChange)="signupForm.get(genderField).setValue($event)"
            [errors]="signupForm.get(genderField).errors"
            [errorCaptions]="genderErrorCaptions"
            [options]="genderOptions"
            ></gh-select-field>
        </div>
    </div>
</div>
</div>
</form>