<div class="close-section section">
    <button type="button" (click)="closeModal()">X</button>
</div>
<div class="title-section section">
    <h1>{{ 'global.signup.termsAndConditions.title' | translate }}</h1>
</div>
<div class="section">
    <p>{{ 'global.signup.termsAndConditions.content.descriptions' | translate}}</p>
    <div>
        <h2>{{ 'global.signup.termsAndConditions.content.platformDescription.title' | translate}}</h2>
        <p>{{ 'global.signup.termsAndConditions.content.platformDescription.content' | translate}}</p>
    </div>
    <div>
        <h2>{{ 'global.signup.termsAndConditions.content.userAccounts.title' | translate}}</h2>
        <p>{{ 'global.signup.termsAndConditions.content.userAccounts.content' | translate}}</p>
    </div>
    <div>
        <h2>{{ 'global.signup.termsAndConditions.content.shipments.title' | translate}}</h2>
        <p>{{ 'global.signup.termsAndConditions.content.shipments.content' | translate}}</p>
    </div>
    <div>
        <h2>{{ 'global.signup.termsAndConditions.content.userResponsibilities.title' | translate}}</h2>
        <p>{{ 'global.signup.termsAndConditions.content.userResponsibilities.content' | translate}}</p>
    </div>
    <div>
        <h2>{{ 'global.signup.termsAndConditions.content.disclaimers.title' | translate}}</h2>
        <p>{{ 'global.signup.termsAndConditions.content.disclaimers.content' | translate}}</p>
    </div>
    <div>
        <h2>{{ 'global.signup.termsAndConditions.content.indemnification.title' | translate}}</h2>
        <p>{{ 'global.signup.termsAndConditions.content.indemnification.content' | translate}}</p>
    </div>
    <div>
        <h2>{{ 'global.signup.termsAndConditions.content.modificationOfTerms.title' | translate}}</h2>
        <p>{{ 'global.signup.termsAndConditions.content.modificationOfTerms.content' | translate}}</p>
    </div>
    <div>
        <h2>{{ 'global.signup.termsAndConditions.content.governingLawAndDisputeResolution.title' | translate}}</h2>
        <p>{{ 'global.signup.termsAndConditions.content.governingLawAndDisputeResolution.content' | translate}}</p>
    </div>
    <div>
        <h2>{{ 'global.signup.termsAndConditions.content.contactUs.title' | translate}}</h2>
        <p>{{ 'global.signup.termsAndConditions.content.contactUs.content' | translate}}</p>
    </div>
    <div class="button-section">
        <button class="gp-button" (click)="closeModal()">{{ 'global.signup.termsAndConditions.read' | translate }}</button>
    </div>   
</div>