<client-main [displayBody]="false">
    <h1>{{ 'moduleList.global.greeting' | translate: { name: (userFullName$ | async) } }}</h1>
    <div class="table">
        <div class="table-header">{{ 'moduleList.global.tracking' | translate }}</div>
        <ng-container *ngFor="let order of (clientOrderResolver$ | async) as clientOrderType; let i = index">
            <div *ngIf="i % 2 === 0" class="table-body">
                <div class="td">
                    <div [ngStyle]="{color: order.color}">
                        <gh-icon [name]="order.icon"></gh-icon>
                    </div>
                    <div>
                        <div class="count">{{ order.count }}</div>
                        <div class="label">{{ order.label | translate }}</div>
                    </div>
                </div>
                <div class="td">
                    <div [ngStyle]="{color: clientOrderType[i+1].color}">
                        <gh-icon [name]="clientOrderType[i+1].icon"></gh-icon>
                    </div>
                    <div>
                        <div class="count">{{ clientOrderType[i+1].count }}</div>
                        <div class="label">{{ clientOrderType[i+1].label | translate }}</div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</client-main>