<div class="content">
    <gh-table 
        [columns]="requestTableColumns$ | async" 
        [elements]="requests"
        [label]="label"
        [emptyTemplate]="emptyTemplate"
    >
        <ng-template #routeTemplate let-value="value">
            <gh-flight-route [route]="value"></gh-flight-route>
        </ng-template>
        <ng-template #deliveryDateTemplate let-value="value">
            {{ getDate(value) | date: 'dd/MM/yyyy' }}
        </ng-template>
        <ng-template #statusTemplate let-value="value">
            <gh-status [status]="value"></gh-status>
        </ng-template>
    </gh-table>
</div>