<div class="section">
    <label [for]="name">{{ label }}</label>
</div>
<div class="section input-phone">
    <div 
        *ngIf="(errorMessage$ | async) && (input.dirty || input.touched)"
        class="error-message">{{ (errorMessage$ | async) | translate }}
    </div>
    <gh-text-field
        [name]="name"
        [placeholder]="placeholder"
        [value]="this.value$ | async"
        (valueChange)="emitValue($event)"
        [disabled]="disabled"
        [maxLength]="maxLength"
        [ngClass]="{'error-input': ((errorMessage$ | async) && (input.dirty || input.touched))}"
        ></gh-text-field>
    <div class="fix-position">
    <input
        #input="ngModel"
        class="input"
        type="text" 
        [ngModel]="formattedValue"
        readonly
    >
    <div 
        *ngIf="(errorMessage$ | async) && (input.dirty || input.touched)"
        class="error-message">{{ (errorMessage$ | async) | translate }}
    </div>
    </div>
</div>