@import '../../../../styles/variables';

:host {
    display: inline;
}

::ng-deep .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

button {
    color: $primary-button-color !important;
    border:none;
    box-shadow: none;
    padding: 0;
}

::ng-deep .mat-mdc-raised-button{
    background-color: transparent !important;
}

button:hover {
    background-color: #fff;
    box-shadow: none;
}