<gh-table 
        [columns]="columns$ | async" 
        [elements]="elements"
        [canView]="true"
        [viewFactory]="viewFactory"
        [emptyTemplate]="emptyTemplate"
>
    <ng-template #routeTemplate let-value="value">
        <gh-flight-route [route]="value"></gh-flight-route>
    </ng-template>
    <ng-template #deliveryDateTemplate let-value="value">
        {{ value | date: 'dd/MM/yyyy' }}
    </ng-template>

    <ng-template #emptyTemplate>
        <div class="empty">
            <ng-container *ngIf="hasBeenFiltered; else filterTemplate">
                <div class="section section-title">
                    {{ 'orderFilter.table.empty.title' | translate }}
                </div>
                <div class="section">
                    <gh-icon name="feature_search"></gh-icon>
                </div>
                <div class="section">{{ 'orderFilter.table.empty.content' | translate }}</div>
            </ng-container>
            <ng-template #filterTemplate>
                <div class="section section-title">
                    {{ 'orderFilter.table.filterMessage.title' | translate }}
                </div>
                <div class="section">
                    <gh-icon name="filter_alt"></gh-icon>
                </div>
                <div class="section">{{ 'orderFilter.table.filterMessage.content' | translate }}</div>
            </ng-template>
        </div>
    </ng-template>
</gh-table>