@import '../../../../styles/variables';

.content {
    padding: 1em;
}

.button-section {
    display: flex;
    justify-content: space-between;

    button {
        padding:1em;
        width: 45%;
        border-radius: 5px;
        font-weight: $bold;
    }
}

.content-section {
    min-height: 5em;
}

.close-section {
    display: flex;
    justify-content:right;
    button {
        background-color: transparent;
        border-width: 0px;
    }
}