<div class="section">
    <label [for]="name">{{ label }}</label>
</div>
<div class="section" *ngIf="!readonly; else readonlyTemplate">
    <textarea 
        #input="ngModel"
        [id]="name"
        class="input"
        [rows]="rows"
        [ngClass]="{'error-input': ((errorMessage$ | async) && (input.dirty || input.touched))}" 
        [placeholder]="placeholder" 
        [ngModel]="value"
        (ngModelChange)="valueChange.emit($event)"
        [disabled]="disabled">
    </textarea>
    <div
        *ngIf="(errorMessage$ | async) && (input.dirty || input.touched)"
        class="error-message" 
        >{{ (errorMessage$ | async) | translate }}
    </div>
</div>
<ng-template #readonlyTemplate>
   <gh-value [value]="value"></gh-value>
</ng-template>