<div class="content">
    <div>
        <div class="section">
            <h1>{{ 'moduleList.gp.orders.itemWithYou.title' | translate }}</h1>
        </div>
        <div class="section">
            <p>{{ 'moduleList.gp.orders.itemWithYou.content' | translate }}</p>
        </div>
        <div class="section">
            <gh-order-details [currency]="userCurrency.currency" [orderDetails]="orderDetail$ | async"></gh-order-details>
        </div>
        <div class="section">
            <button class="gp-button" (click)="navigateToMyOrders()">{{ 'moduleList.gp.orders.confirmOrder.return' | translate }}</button>
        </div>
    </div>
</div>