<div class="content">
    <div>
        <gh-order-details [currency]="currency$ | async" [orderDetails]="orderDetail$ | async"></gh-order-details>
        <div>
            <button
                [buttonLoading]="confirmLoading$ | async"
                class="gp-button confirm-button"
                (click)="confirmOrder()"
            >{{ 'moduleList.registerItem.view.confirm' | translate }}</button>
        </div>
        <div>
            <button
                [buttonLoading]="cancelLoading$ | async"
                class="gp-button" 
                (click)="changeGp()"
            >{{ 'moduleList.gpPickUp.view.changeGp' | translate }}</button>
        </div>
        <div>
            <button
                [buttonLoading]="cancelLoading$ | async"
                class="attention-button" 
                (click)="cancelOrder()"
            >{{ 'moduleList.registerItem.view.cancel' | translate }}</button>
        </div>
    </div>
</div>