<gh-console-view [title]="captions.title" (closed)="close()">
    <div class="content" *ngIf="!(alertSent$ | async)">
        <gh-alert-form [currency]="currency" [defaultDate]="defaultDate"></gh-alert-form>
        <div class="section">
            <button
                [buttonLoading]="loading$ | async" 
                type="submit" 
                class="gp-button" 
                [disabled]="!alertForm.valid"
                (click)="createAlert()"
             >{{ captions.button }}</button>
        </div>
    </div>
    <div *ngIf="alertSent$ | async">
        <div class="content">
            <div class="check-logo">
                <gh-icon name="check"></gh-icon>
            </div>
            <div class="alert-sent-text">{{ captions.alertSent.content }}</div>
            <div>
                <button [buttonLoading]="sendingDataServer$ | async" type="button" class="gp-button" (click)="goAlertPage()">{{ captions.alertSent.button }}</button>
            </div>
    </div>
</div>
</gh-console-view>