<div 
    class="content" 
    [ngStyle]="{'background-image': 'url(' + (selectedImage$ | async) + ')'}"
    [ngClass]="{'content-with-image': (selectedImage$ | async), 'error-input': ((errorMessage$ | async) && (inputTouched$ | async))}"
    (click)="openFileExplorer()"
>
        <div *ngIf="!(selectedImage$ | async)">
             <div class="icon">
                 <gh-icon [name]="uploadImageIcon"></gh-icon>
            </div>
            <div class="label">{{ label | translate }}</div>
        </div>
</div>
<div *ngIf="(errorMessage$ | async) && (inputTouched$ | async)" class="error-message" >
    {{ (errorMessage$ | async) | translate : { maxSize: maxSize } }}
</div>
<input 
    #input
    [id]="name"
    type="file" 
    accept=".jpg, .jpeg, .png"
    (change)="onFileSelected($event)"
>

    