@import './styles/_notification';
@import './styles/_variables';

/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'gp-hub-font';
    src: url('./assets/font/rantera.otf') format('opentype'),
}
@mixin button-mixin {
    color: #fff;
    border-width: 0px;
    font-size: 1em;
    padding:0.7em;
    border-radius:25px;
}

.gp-button {
    @include button-mixin;
    background-color: $primary-button-color;
    margin: 0.5em 0em;
}

.attention-button {
    @include button-mixin;
    background-color: $error-color;
}

.cancel-button {
    @include button-mixin;
    background-color: $gray-color;
    color: darken($gray-color, 30%);
}

.gp-button:disabled {
    background-color: lighten($primary-color, 10%);
}

.gp-hub-font {
    font-family: 'gp-hub-font', sans-serif;
}

.gp-divider {
    border-width: 2px;
}

body {
    background-color: $primary-color;
    margin: 0;
    font-family: helvetica;
}

.gp-link {
    color: $secondary-color;
    font-weight: $semi-bold;
    cursor:pointer;
}

html, body { height: 100%; }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
