@import '../../../../styles';

:host {
    width:100%;
}

.input {
    border:2px solid #{$gray-color};
    padding:0.7em;
    border-radius: 5px;
    font-size:1em;
    width: 100%;
    margin: 0;
}

.section label {
    color: $secondary-color;
    font-weight: $semi-bold;
}

.error-input {
    border-color: #{$error-color};
}

.hide-input {
    visibility: hidden;
}

.error-message {
    color: #{$error-color};
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
}