@import '../../../../styles/variables';

:host {
    width:100%;
}


.input {
    border:2px solid #{$gray-color};
    padding:0.7em;
    border-radius: 5px;
    font-size:1em;
    width: calc(100% - 1.4em);
    margin: 0;
}

.section label {
    color: $secondary-color;
    font-weight: $semi-bold;
}

.error-input {
    border-color: #{$error-color};
}

.error-message {
    color: #{$error-color};
    min-height: 2em;
    font-size: 0.8em;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
}

.input-with-icon {
    position: relative;
  }
    
.input-suffix {
    position: absolute;
    right: -0.2em;
    top: 50% + 5;
    transform: translateY(-50%);
    cursor: pointer;
    background-color: transparent;
    border-width: 0px;
}