@import '../../../../styles/variables';

.delete-button {
    color: $error-color;
    border: 1px solid $error-color;
    background-color: transparent;
}

.view-button {
    color: $secondary-color;
    border: 1px solid $secondary-color;
    background-color: transparent;
}

.edit-button {
    color: #fff;
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
}

.action {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.delete-button, .edit-button, .view-button {
    border-radius: 7px;
    cursor: pointer;
    margin: 0.1em;
}

th {
    text-align: center;
    background-color: lighten($gray-color, 10%) !important;
}

td {
    padding: 0.25em 1em;
    text-align: center;
}

.label {
    color: $secondary-color;
    font-weight: $semi-bold;
}

.hidden {
    display: none;
}

.add {
    color: $secondary-color;
    font-weight: $bold;
    background-color: transparent;
    border-width: 0px;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 1em;
}

.add:hover {
    color: $primary-color;
}