  <div *ngIf="label" class="label">{{ label }}</div>
  <table mat-table [dataSource]="dataSource" *ngIf="columns$ | async">
    <ng-container *ngFor="let column of (columns$ | async);" [matColumnDef]="column.columnName">
      <th mat-header-cell *matHeaderCellDef> {{ column.columnName | translate }} </th>
        <td mat-cell *matCellDef="let element">
         <ng-container *ngIf="column.template; else defaultTemplate">
              <ng-container *ngTemplateOutlet="column.template; context: { element: element, index: element.id, value: column.valueAccessor(element) }"></ng-container>
        </ng-container>
         <ng-template #defaultTemplate>{{ column.valueAccessor(element) }}</ng-template>
       </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnNames$ | async"></tr>
    
    <tr mat-row *matRowDef="let row; columns: (columnNames$ | async);"></tr>
    
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="(columnNames$ | async).length">
        <ng-container *ngTemplateOutlet="emptyTemplate"></ng-container>
      </td>
    </tr>

  </table>
<div *ngIf="!(elements$ | async)">
  <gh-table-loader></gh-table-loader>
</div>
<div [class.hidden]="!(elements$ | async)?.length">
  <mat-paginator [pageSize]="5"></mat-paginator>
</div>
<div>
  <button *ngIf="canAdd" type="button" class="add" (click)="add()">{{ 'global.common.add' | translate }}</button>
</div>

<ng-template #canDeleteTemplate let-element="element">
    <button class="delete-button" (click)="deleteElement(element)">
        <gh-icon name="delete"></gh-icon>
    </button>
</ng-template>