<client-main>
<div class="content">
    <div>
        <gh-tracking 
            [departureDate]="departureDate$ | async"
            [arrivalDate]="arrivalDate$ | async"
            [history]="history$ | async"
            [originCity]="originCity$ | async"
            [destinationCity]="destinationCity$ | async"
            [layovers]="layovers$ | async"
            [orderId]="orderId$ | async"
            [orders]="orders$ | async"
            [addHistoryResolver]="addHistoryResolver"
            [gpView]="true"
            [clientMode]="true"
            [tasks]="tasks$ | async"
            (declareDelay)="showDelayDialog()"
            [status]="tripStatus$ | async"
            (reloadPage)="reloadPage()"
        ></gh-tracking>
    </div>
</div>
</client-main>