<gh-table 
        [columns]="alertListTableColumns$ | async" 
        [elements]="alertList"
        [canDelete]="true"
        [canEdit]="true"
        [idProperty]="'id'"
        [deleteFactory]="deleteAlertFactory"
        [editFactory]="editAlertFactory"
        [emptyTemplate]="emptyTemplate"
    >
        <ng-template #routeTemplate let-value="value">
            <gh-flight-route [route]="value"></gh-flight-route>
        </ng-template>

        <ng-template #maxPriceTemplate let-value="value">
            <div *ngIf="value; else noMaxPriceTemplate">
                {{value + ' ' + currency }}
            </div>
            <ng-template #noMaxPriceTemplate> - </ng-template>
        </ng-template>

        <ng-template #timeRangeTemplate let-value="value">
            <div *ngIf="value.from && value.to && value.from !== value.to">
                {{ 'global.alertList.timeRange.to' | translate : { from: value.from | date: 'dd/MM/yyyy', to: value.to | date: 'dd/MM/yyyy' } }}
            </div>
            <div *ngIf="value.from && !value.to">
                {{ 'global.alertList.timeRange.from' | translate : { from: value.from | date: 'dd/MM/yyyy' } }}
            </div>
            <div *ngIf="!value.from && value.to">
                {{ 'global.alertList.timeRange.until' | translate : { until: value.to | date: 'dd/MM/yyyy' } }}
            </div>
            <div *ngIf="!value.from && !value.to"> - </div>
            <div *ngIf="value.from && value.to && value.from === value.to"> {{ value.from | date: 'dd/MM/yyyy' }} </div>
        </ng-template>
        
        <ng-template #emptyTemplate>
            <div class="empty">
                <div class="section section-title">
                    {{ 'global.alertList.empty.title' | translate }}
                </div>
                <div class="section">
                    <gh-icon name="warning"></gh-icon>
                </div>
                <div class="section">{{ 'global.alertList.empty.content' | translate }}</div>
            </div>
        </ng-template>
    </gh-table>