.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo {
    width: 200px; /* Adjust size as needed */
    animation: fadeInOut 3s infinite alternate; /* Animation */
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }