<div class="section">
    <label [for]="name">{{ label }}</label>
</div>
<div class="section" *ngIf="!readonly; else readonlyTemplate">
    <select
     #input="ngModel"
     class="input"
     [ngClass]="{'error-input': ((errorMessage$ | async) && (input.dirty || input.touched))}"
     [id]="name"
     [ngModel]="value"
     (ngModelChange)="valueChange.emit($event)"
     (blur)="onInputBlur()"
     [disabled]="disabled"
     >
        <option [value]="undefined" disabled selected>{{ placeholder | translate }}</option>
        <option *ngFor="let option of options" [value]="option.value">{{ option.prefix ? option.prefix+" " : '' }}{{ option.label | translate }}</option>
        <optgroup *ngFor="let group of groupedOptions" [label]="group.label">
            <option *ngFor="let option of group.options" [value]="option.value">{{ option.prefix ? option.prefix+" " : '' }}{{ option.label | translate }}</option>
        </optgroup>
    </select>
    <div 
        *ngIf="(errorMessage$ | async) && (input.dirty || input.touched)"
        class="error-message">{{ (errorMessage$ | async) | translate }}
    </div>
</div>
<ng-template #readonlyTemplate>
    <gh-value [value]="getReadonlyValue()"></gh-value>
</ng-template>
