<div class="section">
    <label [for]="name">{{ label }}</label>
</div>
<div class="section">
    <div class="input-with-icon">
        <gh-text-field 
        [name]="name"
        [placeholder]="placeholder" 
        [value]="timeValue?.toString()"
        (valueChange)="emitValue($event)"
        [externalError]="!!(errorMessage$ | async)"
        ></gh-text-field>
        <button type="button" class="input-suffix">
            <gh-icon [name]="timeIcon" (click)="showTimePicker()"></gh-icon>
        </button>
    </div>
    <div
        *ngIf="(errorMessage$ | async)"
        class="error-message" 
        >{{ (errorMessage$ | async) | translate }}</div>
    <input 
        [ngClass]="{'time-close': !(isTimePickerOpen$ | async),'time-open': (isTimePickerOpen$ | async)}"
        #input 
        type="time" 
        [max]="inputMaxTime"
        [min]="inputMaxTime"
        (change)="onTimeChange($event)"
    >
</div>